################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GitPractics/FileContentIndex/274b86b1-08b2-47a3-98ef-6dee99dc86f0.vsidx
/.vs/GitPractics/FileContentIndex/97c397d2-f8cb-40c2-82f4-0b15362f492a.vsidx
